.instafeed {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 100%;

  // Calculated in javascript...
  // padding-bottom: 100%;
  // @media (min-width: $column-breakpoint-start) {
  //   padding-bottom: calc(100% * 2/3);
  // }

  .wrapper {
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .items {
    // *:nth-child(3n) {
    //   background: #FFCF47;
    // }

    // *:nth-child(3n+1) {
    //   background: #7ADCEF;
    // }

    // *:nth-child(3n+2) {
    //   background: #F97C68;
    // }

    > div {
      cursor: pointer;
      display: grid;
      transition: all .1s;

      // Calculated in javascript...
      // grid-template-rows: 1fr 1fr;
      // grid-template-columns: repeat(3, 1fr);

      // @media (min-width: $column-breakpoint-start) {
      //   grid-template-columns: repeat(3, 1fr);
      // }
   
    }
  }

  .items {
    // as wide as possible...
    width: 9999999%;
    position: relative;
    display: flex;

    &.shifting {
      transition: left .2s ease-out;
    }

    > div { //slide
      cursor: pointer;
      position: relative;
    }
  }
}
